/* CSS Document */
*{
	margin:0;
	padding:0;
}

a{
	list-style: none;
	text-decoration: none;
}

#bg {
	height:900px;
	width: 100%;
	background-color:rgba(1,195,255,0.20);
}

#psi {
	
	text-transform: uppercase;
	font-size: 59.4px;
	font-weight: 700;
	color:rgb(13, 87 ,118);
	position: absolute;
	top: 150px;
	left: 150px;
	
}

#texto {
	
	position: relative;
	top: 90px;

}

#cardstitle{
	margin: 20px 0 20px 0;
	text-align: center;
	font-family: Arial, sans-serif;
	color:rgb(13, 87 ,118);
}
p {
	
	font-family: Arial, sans-serf;
	font-size: 20px;
	text-align: justify;
	
}

li {
	font-family: Arial, sans-serif;
	font-size: 16px;
	text-align: justify;
}


.login {

}

#jumbo {
	
	background-color: rgba(255,255,255,0.5)
	
}

#btnlogin {
	list-style: none;
	text-decoration: none;
	color: white;
}

#sign {
	position: relative;
	top: 150px;
}
footer {
	color: white;
	background-color:#222;
}

#foot{
	position: relative;
	top: 7px;
	font-size: 15px;
	text-align: center;
}
#topo {
	list-style: none;
	text-decoration: none;
	color: white;
}


.cardtop {
	margin: 20px 0 20px 0;
	
}

.regristros {
	
	margin: 20px 0 20px 0;
	
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}